
.signup-container{
    display: flex;
    justify-content: center;
}
.custom-anchor{
    text-decoration: none;
}
.custom-anchor:hover{
    color: tomato;
}
.signup-submit-btn{
    display: flex;
    justify-content: center;
}