
.therapy-logo{
    border-radius: 20px
}
.custom-link{
    text-decoration: none;
    color: rgb(101, 94, 118);
}
.custom-link:hover{
    color: orange;
}
.custom-btn{
    border: none;
    border-radius: 20px;
    padding: 2px 5px;
    color: rgb(101, 94, 118);
}
.custom-btn:hover{
    color: orange;
}
