
.banner-container img{
    height: 700px;
}

@media only screen and (max-width:576px){
    .banner-container img{
        height: 350px;
    }
}

@media only screen and (min-width: 577px) and (max-width: 992px){
    .banner-container img{
        height: 600px;
    }
}