.footer-container {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgb(241, 238, 245);
}
.footer-text{
    padding: 10px 0px;
    margin-bottom: 0;
}